server:
  port: 8081
  servlet:
    context-path: /api/NothKingSystem
spring:
  thymeleaf:
    cache: false
  datasource:
    url: jdbc:mysql://192.168.42.143:3307/jbf?characterEncoding=utf8&characterSetResults=utf8&autoReconnect=true&failOverReadOnly=false
    username: root
    password: 123456
  application:
    name: NothKingSystem


#
#    druid:
#      db-type: com.alibaba.druid.pool.DruidDataSource
#      driver-class-name: com.mysql.cj.jdbc.Driver
#      url: jdbc:mysql://192.168.42.143:3307/jbf?useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false
#      username: root
#      password: 123456
#      initial-size: 5
#      min-idle: 5
#      max-active: 20
#      max-wait: 60000
#      time-between-eviction-runs-millis: 60000
#      min-evictable-idle-time-millis: 300000
#      validation-query: SELECT1FROMDUAL
#      test-on-borrow: false
#      test-on-return: false
#
mybatis:
  type-aliases-package: com.NorthKingSys.jbf.cn.mapper
  mapper-locations: classpath:mapper/*.xml

thread-pool-factory:
  #IO密集型应用，线程数为2N+1
  corePoolSize: 9
  maxPoolSize: 18
  queueCapacity: 100
  keepAliveSeconds: 120