<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.NorthKingSys.jbf.cn.mapper.JbfRoleMapper">
  <resultMap id="BaseResultMap" type="com.NorthKingSys.jbf.cn.domain.JbfRole">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="BACK_UP" jdbcType="VARCHAR" property="backUp" />
    <result column="FEIGN_IDS" jdbcType="VARCHAR" property="feignIds" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_ID, ROLE_NAME, BACK_UP, FEIGN_IDS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from JBF_ROLE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from JBF_ROLE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRole">
    insert into JBF_ROLE (ID, ROLE_ID, ROLE_NAME, 
      BACK_UP, FEIGN_IDS)
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{backUp,jdbcType=VARCHAR}, #{feignIds,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRole">
    insert into JBF_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="backUp != null">
        BACK_UP,
      </if>
      <if test="feignIds != null">
        FEIGN_IDS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="backUp != null">
        #{backUp,jdbcType=VARCHAR},
      </if>
      <if test="feignIds != null">
        #{feignIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRole">
    update JBF_ROLE
    <set>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="backUp != null">
        BACK_UP = #{backUp,jdbcType=VARCHAR},
      </if>
      <if test="feignIds != null">
        FEIGN_IDS = #{feignIds,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRole">
    update JBF_ROLE
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      BACK_UP = #{backUp,jdbcType=VARCHAR},
      FEIGN_IDS = #{feignIds,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.NorthKingSys.jbf.cn.domain.JbfRole">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="BACK_UP" jdbcType="VARCHAR" property="backUp" />
    <result column="FEIGN_IDS" jdbcType="VARCHAR" property="feignIds" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_ID, ROLE_NAME, BACK_UP, FEIGN_IDS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from JBF_ROLE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from JBF_ROLE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRole">
    insert into JBF_ROLE (ID, ROLE_ID, ROLE_NAME, 
      BACK_UP, FEIGN_IDS)
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{backUp,jdbcType=VARCHAR}, #{feignIds,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRole">
    insert into JBF_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="backUp != null">
        BACK_UP,
      </if>
      <if test="feignIds != null">
        FEIGN_IDS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="backUp != null">
        #{backUp,jdbcType=VARCHAR},
      </if>
      <if test="feignIds != null">
        #{feignIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRole">
    update JBF_ROLE
    <set>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="backUp != null">
        BACK_UP = #{backUp,jdbcType=VARCHAR},
      </if>
      <if test="feignIds != null">
        FEIGN_IDS = #{feignIds,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRole">
    update JBF_ROLE
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      BACK_UP = #{backUp,jdbcType=VARCHAR},
      FEIGN_IDS = #{feignIds,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>