<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.NorthKingSys.jbf.cn.mapper.RoleMngMeNuMapper">
    <insert id="insertRoleMenu" useGeneratedKeys="true" keyColumn="id">
      insert into JBF_ROLE (
      ROLE_ID,
      ROLE_NAME,
      <if test="back_up!=null">
          BACK_UP,
      </if>
      FEIGN_IDS
      )values (
      #{role_id},
      #{role_name},
      <if test="back_up!=null">
          #{back_up},
      </if>
      #{feign_ids}
      )
    </insert>
    <update id="modifyRoleMngMeNuInfo">
        update JBF_ROLE
        <set>
            ROLE_NAME=#{roleName},
            <if test="back_up!=null">
             BACK_UP=#{back_up},
            </if>
            FEIGN_IDS=#{feign_ids}
        </set>
        <where>
            role_id=#{role_id}
        </where>
    </update>
    <select id="selectFein_ids" resultType="string">

    </select>
    <select id="selectCurrentLevel" resultType="com.NorthKingSys.jbf.cn.biz.MenuInfo">
            select t.MENU_ID,t.MENU_NAME,t.MENU_LEVEL,t.STATUS from JBF_MENU t
            <where>
                MENU_LEVEL=#{level}
            </where>
    </select>
    <select id="queryMenuByNextLevel" resultType="com.NorthKingSys.jbf.cn.biz.MenuInfo">
        select t.MENU_ID,t.MENU_NAME,t.MENU_LEVEL,t.STATUS from JBF_MENU t
        <where>
            <if test="level!=null">
                t.MENU_LEVEL=#{level}
            </if>
            <if test="menu_Id!=null">
               and t.MENU_LEVEL_PARENT=#{menu_Id}
            </if>

        </where>
    </select>
    <select id="queryRoleMngMenuInfo" resultType="com.NorthKingSys.jbf.cn.domain.RoleInfo">
            select r.id, r.role_id,r.role_name,r.back_up,r.FEIGN_IDS from
            JBF_ROLE r
            <where>
                <if test="roleName!=null">
                    r.role_name=#{roleName}
                </if>
            </where>
    </select>
    <select id="queryRoleEditMenuInfo" resultType="com.NorthKingSys.jbf.cn.domain.RoleInfo">
        select r.id, r.role_id,r.FEIGN_IDS from
        JBF_ROLE r
        <where>
            <if test="role_id!=null">
                r.role_id=#{role_id}
            </if>
        </where>
    </select>
<!--    <select id="queryAllMenu" resultType="com.NorthKingSys.jbf.cn.biz.MenuInfo">-->

<!--    </select>-->
</mapper>